:root{
    --hundredPercent: 100%;
    --mainColor : #dd7418;
}

body{
    height: var(--hundredPercent);
    width: var(--hundredPercent);
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
/*style highscore link and time left om top of pagee*/
#style-highscore-time{
    display: flex;
    justify-content: space-between;
    width: var(--hundredPercent);
    font-size: 1em;
    margin-bottom: 1em;
}
#style-highscore-time a{
    color:var(--mainColor) ;
}
/*intro block styling*/
#intro-block{
    width: 50%;
    margin: auto;
    text-align: center;
}
#intro-block h1{
    font-size: 3em;
    margin-bottom: .5em;
    color: var(--mainColor);
}
#intro-block p{
    font-size: 1.5em;
    margin-bottom: .5em;
}
#intro-block button{
    background-color: var(--mainColor);
    border-radius: 1em;
    padding: .5em;
    font-size: 1em;
    font-weight: bold;
}

/*----question-block-----*/
#question-block{
    width: 50%;
    margin: auto;
    display: none;
}
#question-block h1{
    font-size: 1.8em;
    margin-bottom: .5em;
    color: black;
    font-weight: bold;
}
#question-block p{
    width:90%;
    border-top: lightgray;
    border-top: solid;
    font-size: 1em;
    margin-bottom: .5em;
    color: gray;
    font-weight: bold;
    opacity: 0;
    transition: 1s;

}

#question-block button{
    background-color: var(--mainColor);
    border-radius: 1em;
    padding: .5em;
    margin-bottom: .5em;
    font-size: 1em;
    font-weight: bold;
}
/*----score info-----*/
#scoreInfo{
    display: none;
    width: 50%;
    margin: auto;
    
}
#scoreInfo h1{
    font-size: 2em;
    margin-bottom: .5em;
    color:var(--mainColor);
    font-weight: bold;
}
#scoreInfo p{
    font-size: 1.5em;
    margin-bottom: .5em;
}
#scoreInfo form{
    width: 100%;
    font-size: 1.5em;
}
#scoreInfo form #intials{
    background-color: lightgray;
}
#scoreInfo form #intials-button{
    background-color:var(--mainColor);
    border-radius: 1em;
    padding: .3em;
    margin-bottom: .5em;
    font-size: .8em;
    font-weight: bold;
    
}

/*---highsocreSection----*/
#high-scores-section{
    width: 50%;
    margin: auto;
}

#high-scores-section h1{
    font-size: 2em;
    margin-bottom: .5em;
    color:var(--mainColor);
    font-weight: bold;
}
#high-scores-section ul li{
    font-size: 1.5em;
    margin-bottom: .5em;
    background-color: lightgray;
    border: solid;
    border-color: grey;
}
#high-scores-section button {
    background-color: var(--mainColor);
    border-radius: 1em;
    padding: .5em;
    font-size: 1em;
    font-weight: bold;
    
}

button{
    opacity: .8;
}
button:hover{
    opacity: 1;
}

@media screen and (max-width: 800px) {
    body {
      font-size: 12px;
    }
  }

  @media screen and (max-width: 630px) {
    body {
      font-size: 10px;
    }
  }
  @media screen and (max-width: 532px) {
    body {
      font-size: 9px;
    }
  }

  @media screen and (max-width: 400px) {
    body {
      font-size: 7px;
    }
  }