:root{
    --hundredPercent: 100%;
    --mainColor : #dd7418;

}

body{
    height: var(--hundredPercent);
    width: var(--hundredPercent);
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
/*style highscore link and time left om top of pagee*/
#style-highscore-time{
    display: flex;
    justify-content: space-between;
    width: var(--hundredPercent);
    font-size: 1em;
    margin-bottom: 1em;
}
#style-highscore-time a{
    color:var(--mainColor) ;
}
/*main page want to center H1 question and button*/
section{
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
}
section h1{
    text-align: center;
    font-size: 2em;
    color:var(--mainColor);
    margin-bottom: 1em;
    font-weight: bold;
    
}

section p{
    text-align: center;
    margin-bottom: 1em;

}

section ul{
   

    margin-bottom: 1em;
}
section #correctOrWrongAnswer{
    border-top: solid;
    border-color: grey;
    display: none;
}

section button {
    margin: auto;
    background-color: var(--mainColor);
    width: fit-content;
    border-radius: 1em;
    justify-self: center;
    font-size: 1.5em;
    opacity: .8;
}
section button #start-game{
    margin: auto;
}
section button:hover{
    opacity: 1;
}
/*target section with id question to change the main style
by making font to black and styling my button for each anwsers*/
#question-block{
    display: none;
}

#question{
    font-size: 1.5em;
    color: black;
    margin-bottom: 1em;
    font-weight: bold;
    text-align: left;
}
#answers li{
    width: fit-content;
}
#answers li button{
    background-color: var(--mainColor);
    width: fit-content;
    height: var(--hundredPercent);
    padding: .3em .3em;
    border-radius: 1em;
    margin-bottom: 1em;
    font-size: 1.5em;
}


/*targets form so it can sit in middle of section*/
#scoreInfo{
    /*only display when java need you*/
    display: none;
}
form{
    width: fit-content;
    margin: auto;
}

#highscoresSection{
    display: none;
}
#highScoreEl{
    text-align: left;
}
div{
    width: fit-content;
    
}

